.App {
  color: white;
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 3vmin);
}

.project-container{
  display: flex;
}
.project{
  width:23vw;
  margin: 2%;
}

.section{
  height: 80vh;
}

background-color: aliceblue;
